.header {
  margin-top: -230px;
  /* min-height: 300px; */
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
}

.cover {
  /* position: relative; */
  flex-grow: 0;
  flex-shrink: 0;
  height: 230px;
  max-width: 100%;
  width: 1128px;
  /* padding-top: 10vh; */
  background: transparent url(/cover_it.jpg) no-repeat center center;
  background-size: auto 187%;
  background-position: 0 0;
  border-bottom: 3px solid #83C5FF;
}


.photo {
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  top: 80px;
  border-radius: 50%;
  width: 220px;
  height: 220px; 
  background-color: #83C5FF;
  /* border: 3px solid #83C5FF; */
  overflow: hidden;
}

.photo img {
  width: 220px;
  height: auto; 
}

.header_text {
  position: relative;
  padding: 10px 0;
  margin-top: -65px;
  margin-left: 55%;
  text-align: right;
}
.header_text h1 {
  margin: 0;
  color: #141C3A;
}

@media (max-width: 1024px) {
  .header_text {
    margin-left: 235px;
    text-align: left;
  }
}

@media (max-width: 640px) {
  .header_text {
    margin-top: 85px;
    margin-left: 0;
    line-height: 1.5;
    /* max-width: 300px; */
  }
  .header_text h1 {
    font-size: 30px;
  }
}
