.logo img {
  display: block;
  width: 120px;
}
.logo{
  margin:5px 0 0;
}
.logo a {
  font-size: 26px;
  /* color: rgb(225, 233, 238); */
  color: #283e4a;
  font-weight: 450;
  padding-right: 30px;
  text-decoration: none;
  white-space: nowrap;
  /* text-shadow: 1px 1px 6px #83C5FF; */
}
@media (max-width: 640px) {
  .logo a {
    font-size:22px;
  }
}



