.menu {
    margin: 5px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  .menu li a {
    font-size: 22px;
    /* color: rgb(225,233,238); */
    color: #283e4a;
    font-weight: 450;
    padding: 5px 2px;
    margin: 0 10px;
    text-decoration: none;
    /* text-shadow: 2px 2px 4px #83C5FF; */
  }
  .menu li:last-child a{
    margin-right: 0;
  }
  .menu li a:hover {
    padding-bottom: 3px;
    border-bottom: 2px solid #83C5FF;
  }
  @media (max-width: 640px) {
    .menu {
      display: block;
      text-align: right;
    }
    .menu li {
      display: inline-block;
    }
    .menu li a {
      font-size: 18px;
    }
  }