*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  background: #e5e5e5;
  color: #283e4a;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI",
    "Fira Sans", Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  text-rendering: optimizeLegibility;
}

.is_primary {
  background: #83c5ff;
}

.is_white {
  background: #f5f5f5;
}

a {
  color: #283e4a;
  text-decoration: none;
}

a:hover {
  color: #166281;
}

h1,
h2,
h3 {
  margin: 15px 0 15px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

p {
  margin: 0 0 10px;
}

img {
  max-width: 100%;
}

.section {
  padding: 50px 50px;
  min-height: 600px;
}

.box {
  border-radius: 12px;
  /* border-radius: 6px; */
  box-shadow: 0 5px 5px 0 rgba(131, 197, 255, 0.5), 0 0 0 1px #e6ecf8;
  color: #283e4a;
  display: block;
  padding: 1.25rem;
  min-height: 100%;
}

.is_centered {
  text-align: center;
  justify-content: center;
  display: flex;
}

.is_vier_vijfde {
  width: 80%;
  flex: none;
}

/* Nav */

.navbar-wrapper {
  background: transparent;
  left: 0;
  /* padding: 0 30px; */
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 30px;
  transition: background 0.5s ease-in-out;
}

.navbar {
  /* background-color: rgba(239, 250, 254, 0.25); */
  width: 1128px;
  margin: 0 auto;
  align-items: center;
  /* min-height: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
  transition: padding 0.5s ease-in-out;
}

.scroll {
  /* background: #C6E6FF; */
  background: #283e4a;
  /* border-bottom: 4px solid #83c5ff;
   */
}

.scroll a {
  color: #f5f5f5 !important;
  transition: color 0.5s ease-in-out;
}

.scroll .navbar {
  padding: 8px 50px;
}

/* Adds margin top to content-wrapper for the navbar */
/* .mt-space-navbar {
  padding-top: 109px !important;
} */

/* Content */

.padding-50 {
  padding: 0 50px;
}

.content-wrapper {
  width: 100%;
  margin: auto;
  left: 0;
  position: relative;
  padding: 0 30px;
}

.content {
  width: 1128px;
  margin: 0 auto;
  background: #f5f5f5;
  min-height: 1400px;
}

/* Footer */
.footer-wrapper {
  width: 100%;
  margin: 0 auto;
  left: 0;
  position: relative;
  padding: 0 30px;
}

.footer {
  width: 1128px;
  margin: 0 auto;
  background: #283e4a;
  text-align: center;
  padding: 5px 30px;
  color: #f5f5f5;
  border-top: 14px solid #83c5ff;
}

@media (max-width: 1188px) {
  .navbar {
    width: 100%;
  }
  .content {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .navbar-wrapper {
    padding: 0;
  }
  .content-wrapper {
    padding: 0;
  }
  .footer-wrapper {
    padding: 0;
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
