.about_me {
  text-align: center;
  width: 80%;
  flex: none;
  display: block;
  margin: 0 auto;
}

.home {
  -webkit-box-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.skills {
  margin-top: -200px;
}

.section_2{
  padding-bottom: 200px;
}

.home_hero {
  height: 100vh;
  -webkit-box-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.hero_body {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 0 50px;
  justify-content: center;
}

.hero_footer {
  border: 1px solid transparent;
  padding: 0 20px;
  margin-top: 20px;
}

.is_bottom {
  max-width: 860px;
  height: auto;
  margin-bottom: -12px;
}

@media (max-width: 1188px) {
  .is_bottom {
    max-width: 100%;
  }
}

@media (max-height: 880px) {
  .home_hero {
    height: 100%;
  }
}

@media (min-height: 1100px) {
  .home_hero {
    height: 100%;
  }
}

.container {
  height: auto;
  margin: auto;
  text-align: center;
  vertical-align: bottom;
}
